In [1]:
import pandas as pd
import numpy as np

x = [1, 2, 3, 4, 5, 6, 7]
x = pd.Series(x)

In [2]:
x[1:4]

1    2
2    3
3    4
dtype: int64

In [3]:
x[x>3]

3    4
4    5
5    6
6    7
dtype: int64

In [4]:
x * 10

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [5]:
x.index

RangeIndex(start=0, stop=7, step=1)

In [6]:
x.values

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [7]:
x = [1, 2, 3, 4, 5, 6, 7]
x = pd.Series(x, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [8]:
x['b']

2

In [9]:
x[0]

1

In [10]:
x.b

2

In [11]:
x[['a','c']]

a    1
c    3
dtype: int64

In [12]:
x = {"수학":90, "영어":80, "과학":95, "미술":80}
x = pd.Series(x)
x

수학    90
영어    80
과학    95
미술    80
dtype: int64

In [13]:
x['수학']

90

In [14]:
x[0]

90

In [15]:
x['영어':]

영어    80
과학    95
미술    80
dtype: int64

In [16]:
x = {"수학":90, "영어":80, "과학":95, "미술":80}
pd.Series(x, index=["과학", "미술"])

과학    95
미술    80
dtype: int64

In [17]:
score = [50, 60, 65, 70, 90, 60, 80, 90]
index_1 = ['홍길동', '홍길동', '홍길동', '홍길동', '이몽룡', '이몽룡', '이몽룡', '이몽룡']
index_2 = ['수학', '영어', '과학', '미술', '수학', '영어', '과학', '미술']

In [18]:
pd.Series(score, index=[index_1, index_2])

홍길동  수학    50
     영어    60
     과학    65
     미술    70
이몽룡  수학    90
     영어    60
     과학    80
     미술    90
dtype: int64

In [19]:
data = [1, None, 2, None, 3, 4, None]
data = pd.Series(data)
data.sum()

10.0

In [20]:
data.isnull().sum()

3

In [21]:
data.notnull().sum()

4

In [22]:
data.dropna()

0    1.0
2    2.0
4    3.0
5    4.0
dtype: float64

In [23]:
data.fillna(0)

0    1.0
1    0.0
2    2.0
3    0.0
4    3.0
5    4.0
6    0.0
dtype: float64

In [24]:
x = pd.Series([1, 2, 3])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])
pd.concat([x, y, z])

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [25]:
pd.concat([x, y, x], ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
6    1
7    2
8    3
dtype: int64